{% extends "base.html" %}

{% block content %}
<section class="home-games">
    <div class="container-lg">
        <div class="games-wrapper">
            {% for j in games_list %}
            <div class="game-item">
                <a class="game-item-img" href="/">
                    <img class="" src="{{ j['img'] }}">
                </a>
                <a href="/{{j['id']}}" class="game-item-name">{{ j['name'] }}</a>
                <div class="price"><b>{{ j['price'] }}$</b></div>
                {% if j['id'] in cart %}
                    <a href="/cart_add/{{j['id']}}" class="btn btn-primary">В корзину</a>
                {% else %}
                    <a href="/cart" class="btn btn-primary">Добавлено</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}